<div class="bgimg">
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
  <div class="topleft">
    <p><img id="logo" src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s150x150/39507142_1026675787511079_6169752741548654592_n.jpg?tp=1&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=EsltqTfeM-UAX9lTfOZ&edm=ABfd0MgBAAAA&ccb=7-4&oh=0d2d4a0720c37ca2e06dd35896f8f725&oe=60BF520A&_nc_sid=7bff83"/></p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>7 days</p>
  </div>
  <div class="bottomleft">
    <p>Vladimir Altov</p>
  </div>
</div>